    #everything {
        padding: 0;
        background-color: green;
        float: left;
        border-radius: 10px;
    }

    body {
        background-color: green
    }
  
    #buttonContainer {
      width: 1000px;
      margin: 5px;
      padding: 5px;
    }
    
    #inputs {
      float: left;
      width: 1000px;
      border-radius: 25px;
      margin: 10px;
      padding: 10px;
      border: 0;
      float: left;
      text-align: center;
      background-color: chartreuse;
    }
    
    button {
      padding: 0px;
      margin: 0px;
      float: left;
      font-size: 16px;
      text-align: center;
      width: 35px;
      height: 35px;
    }
    
    .clickedButton {
      padding: 0px;
      margin: 0px;
      float: left;
      font-size: 16px;
      text-align: center;
      background-color: "dimGray";
      border: 0;
      background: none;
      box-shadow: none;
      border-radius: 0;
    }
    
    #ResetOrStart {
      padding: 5px;
      margin: 5px;
      float: right;
      text-align: center;
      border: 0;
      border-radius: 5px;
      background-color: gray;
    }
    
    input {
      width: 45px;
    }
    
    label {
      margin-top: 10px;
      margin-left: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 5px;
    }